[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

dj-database-url = "==0.4.2"
Django = "==2.2.13"
"django-bootstrap3" = "==9.1.0"
django-mathfilters = "==0.4.0"
gunicorn = "==19.7.1"
pytz = "==2017.3"
"psycopg2" = ">=2.6.1"
whitenoise = "*"


[dev-packages]


